.MuiStepConnector-line {
  display: none !important;
}

.MuiStepConnector-root {
  height: 1px;
  background-color: rgba(240, 235, 235, 0.349);
}

.MuiStepConnector-active,
.MuiStepConnector-completed {
  background-color: rgb(223, 218, 217);
}
